# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
*.env

# Logs
*.log

# IDE configs
.vscode/
.idea/

# Coverage and testing
.mypy_cache/
.pytest_cache/
coverage.*
htmlcov/

# Alembic or migration-related
alembic/versions/
migrations/

uploads/